MONGO_URI=mongo-uri
PORT=3000
ACCESS_TOKEN_SECRET=secret-token
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=secret-token
REFRESH_TOKEN_EXPIRY=7d
NODE_ENV=dev
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_CLOUD_KEY=key
CLOUDINARY_API_SECRET=api-secret
FRONTEND_URL=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=demo@gmail.com
EMAIL_PASS=demo
OTP_EXPIRE_MINUTES=10